<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cs" connectionString="Data Source=A301-TEACER;Initial Catalog=UserManagement_DotNet;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
		<add name="csHome" connectionString="Data Source=A301-TEACER;Initial Catalog=UserManagement_DotNet;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</connectionStrings>
</configuration>